body {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
}
/* Estilos del Menú de Navegación */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #285430;
	padding: 10px;
}

.navbar-logo {
	display: flex;
	align-items: center;
}

.navbar-logo a {
	margin-right: 10px;
}

.navbar-title {
	font-size: 18px;
}

.navbar-menu li {
	display: inline;
	margin-left: 10px;
}

.navbar-menu li a {
	text-decoration: none;
	color: #ffffff;
}
li a:hover {
	color: rgb(171, 154, 56);
}

/*estilos del pie de pagina*/

footer {
	position: absolute;
	background: #285430;
	bottom: 0px;
	width: 100vw;
	text-align: center;
	display: flex;
	justify-content: center; 
	align-items: center; 
	height: 60px;
	font-weight: bold;
}
